* { margin: 0; padding: 0; }

h1 { font-size: 1.5em; }

a:visited { color: blue; }

header { 
	display: flex; 
	justify-content: space-between; 
	align-items: center;
	padding: 0.5rem;
}

@media (min-width: 600px) 
{
	header { width: 576px; margin: 0 auto; }
}

@media (min-width: 768px)
{
	header { width: 700px; }
}

@media (min-width: 1200px)
{
	header { width: 992px; padding: 1rem; }
}

@media (min-width: 1500px)
{
	header { width: 1400px; }
}

#logo { cursor: pointer }

nav > p { color: blue; text-decoration: underline; cursor: pointer; }

main { margin-top: 1rem; display: flex; flex-direction: column; align-items: center}

@media (min-width: 400px) 
{
	main { width: 400px; margin: 0 auto; }
}

@media (min-width: 768px)
{
	main { width: 700px; margin-top: 1rem; }
}

@media (min-width: 1200px)
{
	main { width: 992px; }
}

@media (min-width: 1500px)
{
	main { width: 1400px; }
}

#searchWrapper { width: 100%; display: flex; justify-content: center; }

@media (min-width: 1500px)
{
	#searchWrapper { width: 992px; }
}

#searchBar { 
	width: 70%; 
	height: 1.5rem; 
	padding: 0.5rem; 
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 0.5em 0 0 0.5em;
	outline: none;
}

#searchBtn { 
	width: 65px; 
	background: black; 
	color: white; 
	border: 1px solid black;
	border-radius: 0 0.5em 0.5em 0;
	cursor: pointer;
}

#videosDownloaded > h3,
#videosNotDownloaded >h3 {
	margin-top: 1rem;
	margin-left: 0.5rem;
	text-decoration: underline;
}

@media (min-width: 768px)
{
	#videosDownloaded,
	#videosNotDownloaded { width: 100%; }
}

@media (min-width: 1200px)
{
	#videosDownloaded,
	#videosNotDownloaded { width: 100%; margin-top: 1rem; }
}

.videos { width: 100%; }

@media (min-width: 768px)
{
	.videos { display: flex; flex-wrap: wrap; justify-content: space-around; }
}

@media (min-width: 1200px)
{
	.videos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.video {
	position: relative; 
	width: 100%; 
	margin-top: 1rem; 
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

.video:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
	transition: all 0.2s linear;
}

.addToPlaylistBtn {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: #23bd23;
	color: white;
	font-size: 1.5rem;
	border: 1px solid #23bd23;
	border-radius: 50%;
	padding: 0 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addToPlaylistBtn:hover { 
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
	cursor: pointer;
	transition: all 0.2s linear;
}

@media (min-width: 768px)
{
	.video { 
		width: 45%; 
		box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
		border-radius: 1rem;
	}
}

@media (min-width: 1200px)
{
	.video { 
		margin: 1rem; 
		width: 30%; 
	}
}

@media (min-width: 1500px)
{
	.video { width: 22%; }
}

.video > img { width: 100%; }

@media (min-width: 1200px)
{
	.video > img { border-radius: 1rem 1rem 0 0;}
}

.video > p { width: 90%; margin-top: 0.5rem; text-align: center; }

@media (min-width: 1200px)
{
	.video > p { width: auto; margin: 0; padding: 0.5rem; text-align: left; }
}

.video > .unavailable {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(255, 0, 0, 0.7);
	color: white;
	font-size: 0.9em;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 0.1em;
}

footer { margin-top: 1.5rem; margin-bottom: 0.5rem;}

footer > a {
	display: block;
	text-align: center;
}

footer > a:visited { color: blue; }